main{
    display: grid;
    margin: auto;
    max-width: 1000px;
    min-height: 100vh;
    grid-template-columns: 100px;
    grid-template-rows: 100 50px 100px 100px 200px;
    grid-template-areas: "my-header my-header my-header"
                        "my-nav my-nav my-nav"
                        "my-aside my-section my-section"
                        "my-footer my-footer my-footer";
}

/* agregamos colores a las filas para poder ver todo mejor */

header {
    grid-area: my-header;
    background-color: #123456;   

}
nav{
    grid-area: my-nav;
    background-color: #654321;
}
aside {
    grid-area: my-aside;
    background-color: #456789;
}
section {
    grid-area: my-section;
    background-color: #987654;
}
footer {
    grid-area: my-footer;
    background-color: #357159;
}

